/bootstrap/compiled.php
/vendor
/public/uploads/*
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.idea
/app/storage/
/app/config
/app/controllers/Admin/Server.php
/dcapi
/app/logger.php

# Gitignore for upgraded version

vendor/
node_modules/
composer.lock

.env
.pem
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/logs
/storage/framework/cache
/storage/framework/sessions