.login-form {
    margin-top: 15%;
}
.custom-form input[type=submit] {
    display: block;
    margin: 15px auto;
    width: 33%;
}
.navbar {
    margin-top: 10px;
}
.breadcrumb {
    margin-bottom: 50px;
}
span.pull-right {
    padding-top: 30px;
}
.edit-form-buttons {
    margin-top: 20px;
}
.cancel_btm {
    margin-top: 15px;
    width: 33%;
}
.user-filters {
    margin-top: 25px;
    width: 80%;
}
.filter-result {
    margin-top: -18px;
}